name: Python Black Formatter

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
    format:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Python 3.11.9
              uses: actions/setup-python@v3
              with:
                python-version: 3.11.9

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install black

            - name: Run Black
              run: |
                black .


